@import '~theme/variables.scss';

.header {
    width: 100%;
    background-color: $white;
    
    height: 70px;
    &__wrapper{
        background-color: yellowgreen;
        max-width: 1160px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      
    }

   
    &__logo{
        flex-grow:2;
    }

    &__menu{
        background-color: chartreuse;
    }

    &__authorize{
        width: 200px;
        height: 100%;
        background-color: brown;
    }
}
