include ../../components/logo/logo
include ../../components/menu/menu

mixin header(authorized)
    header.header
        .header__wrapper
            .header__logo
                +logo('/')
            
            .header__menu
                +menu()    
            
            .header__authorize
