include ../../components/logo-round/logo-round
include ../../components/header/header

-   
    var subMenuServices = [
        {name: item1, link: "#"},
        {name: item2, link: "#"},
        {name: item3, link: "#"}
    ];
    var menuItems = [
        {name: "Home", link: "#", active: true},
        {name: "About Us", link: "#"},
        {name: "Services", link: "#", subMenu: subMenuServices},
        {name: "Careers", link: "#"},
        {name: "News", link: "#"},
        {name: "Documentation", link: "#"},
    ];


    var quest = {name: "Cosmin Negoita", link: "#"};
        
    

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Headers and footers
    body
        +logo-round()
        +header(menuItems, quest)
        script(src="headers-and-footers.js")