include ../../components/logo-round/logo-round

include ../../components/header/header
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Headers and footers
    body
        +logo-round()
        +header(thrue)
        script(src="headers-and-footers.js")