mixin menu()
    nav.menu
        ul
            li.menu__item.menu__item_active
                a(href="#") Home
            li.menu__item
                a About Us
            li.menu__item
                a Services
            li.menu__item
                a Careers
            li.menu__item
                a News
            li.menu__item
                a Documentation