

//- mixin menu()
    nav.menu
        ul
            li.menu__item.menu__item_active
                a.menu__link(href="#") Home
            li.menu__item
                a.menu__link(href="#") About Us
            li.menu__item
                a.menu__link(href="#") Services
            li.menu__item
                a.menu__link(href="#") Careers
            li.menu__item
                a.menu__link(href="#") News
            li.menu__item
                a.menu__link(href="#") Documentation

mixin menu(items)
    nav.menu
        ul.menu__ul
            for item in items
              

                
                if !item.subMenu
                    if item.active
                            li.menu__item
                                a.menu__link.menu__item-active(href = item.link)= item.name
                    else
                        li.menu__item
                            a.menu__link(href = item.link)= item.name
                else
                    if item.active
                            li.menu__item
                                a.menu__link.menu__item-active.menu__item-drop(href = item.link)= item.name
                    else
                        li.menu__item
                            a.menu__link.menu__item-drop(href = item.link)= item.name
                            