mixin menu()
    nav.menu
        ul
            li.menu__item.menu__item_active
                a(href="#") Home
            li.menu__item
                a(href="#") About Us
            li.menu__item
                a(href="#") Services
            li.menu__item
                a(href="#") Careers
            li.menu__item
                a(href="#") News
            li.menu__item
                a(href="#") Documentation